In [10]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [11]:
# Find the length of the set it_companies
len(it_companies)

7

In [12]:
# Add 'Twitter' to it_companies
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [13]:
# Insert multiple IT companies at once to the set it_companies
it_companies.update(['Wipro','Accenture'])
it_companies

{'Accenture',
 'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter',
 'Wipro'}

In [14]:
# Remove one of the companies from the set it_companies
it_companies.remove('Wipro')
it_companies

{'Accenture',
 'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [19]:
# Join A and B
joins = A.union(B)
joins

{19, 20, 22, 24, 25, 26, 27, 28}

In [21]:
# Find A intersection B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
intersec = A.intersection(B)
intersec

{19, 20, 22, 24, 25, 26}

In [22]:
# Is A subset of B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

A.issubset(B)

True

In [23]:
# Are A and B disjoint sets
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A.isdisjoint(B)

False

In [24]:
# Delete the sets completely
del A,B

In [26]:
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age

[22, 19, 24, 25, 26, 24, 25, 24]

In [28]:
print(len(age))
age_set = set(age)
print(len(age_set))

8
5

In [34]:
from collections import Counter
string = 'I am a teacher and I love to inspire and teach people'
Counter(string.split())

Counter({'I': 2,
         'am': 1,
         'a': 1,
         'teacher': 1,
         'and': 2,
         'love': 1,
         'to': 1,
         'inspire': 1,
         'teach': 1,
         'people': 1})