In [7]:
# Declare an empty list
em_list = list()
em_list

[]

In [8]:
em_list1 = []
em_list1

[]

In [9]:
# Declare a list with more than 5 items, Find the length of your list
list_of_5 = ['apple', 10, 20, 'mango', 'india']
print(list_of_5, '\n')
print(len(list_of_5))

['apple', 10, 20, 'mango', 'india']

5

In [23]:
# Get the first item, the middle item and the last item of the list
print(list_of_5[0])
print(list_of_5[math.ceil(len(list_of_5)/2-1)])
print(list_of_5[-1])

apple
20
india

In [24]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['lokesh', 31, 5.9, 'unmarried','hyd']
mixed_data_types

['lokesh', 31, 5.9, 'unmarried', 'hyd']

In [25]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['facebook', 'google','microsoft','apple','ibm','oracle','amazon']
it_companies

['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']

In [26]:
# Print the number of companies in the list
len(it_companies)

7

In [27]:
# Print the first, middle and last company
# import math
print(it_companies[0])
print(it_companies[math.ceil(len(it_companies)/2)-1])
print(it_companies[-1])

facebook
apple
amazon

In [28]:
# Add an IT company to it_companies
it_companies.append('tcs')
it_companies

['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'tcs']

In [29]:
# Insert an IT company in the middle of the companies list
it_companies.insert(4, 'wipro')
it_companies

['facebook',
 'google',
 'microsoft',
 'apple',
 'wipro',
 'ibm',
 'oracle',
 'amazon',
 'tcs']

In [31]:
# Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[0] = it_companies[0].upper()
it_companies

['FACEBOOK',
 'google',
 'microsoft',
 'apple',
 'wipro',
 'ibm',
 'oracle',
 'amazon',
 'tcs']

In [37]:
# Join the it_companies with a string '#;  '
'#; '.join(it_companies)

'FACEBOOK#; google#; microsoft#; apple#; wipro#; ibm#; oracle#; amazon#; tcs'

In [38]:
# Check if a certain company exists in the it_companies list.
'ibm' in it_companies

True

In [43]:
# Sort the list using sort() method
it_companies.sort()
it_companies

['FACEBOOK',
 'amazon',
 'apple',
 'google',
 'ibm',
 'microsoft',
 'oracle',
 'tcs',
 'wipro']

In [44]:
# Reverse the list in descending order using reverse() method
it_companies.reverse()

In [45]:
it_companies

['wipro',
 'tcs',
 'oracle',
 'microsoft',
 'ibm',
 'google',
 'apple',
 'amazon',
 'FACEBOOK']

In [47]:
# Slice out the first 3 companies from the list
it_companies[:3]

['wipro', 'tcs', 'oracle']

In [48]:
# Slice out the last 3 companies from the list
it_companies[-3:]

['apple', 'amazon', 'FACEBOOK']

In [49]:
# Slice out the middle IT company or companies from the list
len(it_companies)

9

In [63]:
def get_middle_items(items):
    if len(items) % 2 == 0:
        print(items[(len(items)//2)-1 : (len(items)//2)+1 ])
    else:
        print(items[math.ceil(len(items)/2-1)])

In [64]:
get_middle_items(it_companies)

ibm

In [65]:
even_comp = ['wipro', 'tcs', 'ug', 'pt']
get_middle_items(even_comp)

['tcs', 'ug']

In [67]:
# Remove the first IT company from the list
it_companies.remove('wipro')
it_companies

['tcs', 'oracle', 'microsoft', 'ibm', 'google', 'apple', 'amazon', 'FACEBOOK']

In [69]:
# Remove the last IT company from the list
it_companies.pop()
it_companies

['tcs', 'oracle', 'microsoft', 'ibm', 'google', 'apple', 'amazon']

In [70]:
# Remove all IT companies from the list
it_companies.clear()
it_companies

[]

In [71]:
# Destroy the IT companies list
del it_companies
it_companies

NameError: name 'it_companies' is not defined

In [72]:
# join the lists
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

In [75]:
# method 1
front_end + back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [76]:
# method 2
front_end.extend(back_end)

In [77]:
front_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']