In [1]:
# Create an empty dictionary called dog
dog = {}
dog

{}

In [3]:
# Add name, color, breed, legs, age to the dog dictionary
dog ={'name': 'jimmy', 'color':'brown', 'breed':'labor', 'legs': 4, 'age': 5}
dog

{'name': 'jimmy', 'color': 'brown', 'breed': 'labor', 'legs': 4, 'age': 5}

In [4]:
# Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
student = {
    'first_name': 'jake',
    'last_name': 'sully',
    'gender':'male',
    'age': 25,
    'marital_status': 'not yet',
    'skills': ['java', 'sql', 'python'],
    'country': 'usa',
    'city': 'newyork',
    'address':{'street': 'lincoln colony', 'd.no': '651-531/2a'}
}
student

{'first_name': 'jake',
 'last_name': 'sully',
 'gender': 'male',
 'age': 25,
 'marital_status': 'not yet',
 'skills': ['java', 'sql', 'python'],
 'country': 'usa',
 'city': 'newyork',
 'address': {'street': 'lincoln colony', 'd.no': '651-531/2a'}}

In [5]:
# Get the length of the student dictionary
len(student)

9

In [6]:
# Get the value of skills and check the data type, it should be a list
student['skills']

['java', 'sql', 'python']

In [7]:
# Modify the skills values by adding one or two skills
student['skills'].extend(['php','database'])
student['skills']

['java', 'sql', 'python', 'php', 'database']

In [9]:
# Get the dictionary keys as a list
list(student.keys())

['first_name',
 'last_name',
 'gender',
 'age',
 'marital_status',
 'skills',
 'country',
 'city',
 'address']

In [10]:
# Get the dictionary values as a list
list(student.values())

['jake',
 'sully',
 'male',
 25,
 'not yet',
 ['java', 'sql', 'python', 'php', 'database'],
 'usa',
 'newyork',
 {'street': 'lincoln colony', 'd.no': '651-531/2a'}]

In [12]:
# Change the dictionary to a list of tuples using items() method
tuple(student.items())

(('first_name', 'jake'),
 ('last_name', 'sully'),
 ('gender', 'male'),
 ('age', 25),
 ('marital_status', 'not yet'),
 ('skills', ['java', 'sql', 'python', 'php', 'database']),
 ('country', 'usa'),
 ('city', 'newyork'),
 ('address', {'street': 'lincoln colony', 'd.no': '651-531/2a'}))

In [13]:
# Delete one of the items in the dictionary
student.pop('age')

25

In [14]:
student

{'first_name': 'jake',
 'last_name': 'sully',
 'gender': 'male',
 'marital_status': 'not yet',
 'skills': ['java', 'sql', 'python', 'php', 'database'],
 'country': 'usa',
 'city': 'newyork',
 'address': {'street': 'lincoln colony', 'd.no': '651-531/2a'}}

In [15]:
# Delete one of the dictionaries
student.popitem()

('address', {'street': 'lincoln colony', 'd.no': '651-531/2a'})

In [16]:
student

{'first_name': 'jake',
 'last_name': 'sully',
 'gender': 'male',
 'marital_status': 'not yet',
 'skills': ['java', 'sql', 'python', 'php', 'database'],
 'country': 'usa',
 'city': 'newyork'}

In [17]:
# Delete student dictionary
del student