In [1]:
# Create an empty tuple
emp_tuple = tuple()
emp_tuple

()

In [2]:
emp_tup = ()
emp_tup

()

In [3]:
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
tup = ('jane', 'jake', 'julia', 'robert', 'nessa')
tup

('jane', 'jake', 'julia', 'robert', 'nessa')

In [13]:
# Join brothers and sisters tuples and assign it to siblings
brothers = ('jane', 'jake', 'sully', 'peter')
sisters = ('sandra', 'julia', 'sara', 'zara')
siblings = brothers + sisters
siblings

('jane', 'jake', 'sully', 'peter', 'sandra', 'julia', 'sara', 'zara')

In [14]:
# How many siblings do you have?
len(siblings)

8

In [15]:
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = list(siblings)
family_members

['jane', 'jake', 'sully', 'peter', 'sandra', 'julia', 'sara', 'zara']

In [16]:
family_members.extend(['father', 'mother'])
family_memb = tuple(family_members)

In [17]:
family_memb

('jane',
 'jake',
 'sully',
 'peter',
 'sandra',
 'julia',
 'sara',
 'zara',
 'father',
 'mother')

In [18]:
# Unpack siblings and parents from family_members
sibli = family_memb[:-2]
sibli

('jane', 'jake', 'sully', 'peter', 'sandra', 'julia', 'sara', 'zara')

In [19]:
parents = family_memb[-2:]
parents

('father', 'mother')

In [20]:
# Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('apple','mango','kiwi','banana')
veggies = ('carrot', 'brinjal','onion','cucumber')
animal_prod = ('milk', 'meat', 'eggs')
food_stuff_tp = fruits + veggies+ animal_prod
food_stuff_tp

('apple',
 'mango',
 'kiwi',
 'banana',
 'carrot',
 'brinjal',
 'onion',
 'cucumber',
 'milk',
 'meat',
 'eggs')

In [21]:
# Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
food_stuff_lt

['apple',
 'mango',
 'kiwi',
 'banana',
 'carrot',
 'brinjal',
 'onion',
 'cucumber',
 'milk',
 'meat',
 'eggs']

In [22]:
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
food_stuff_lt[5]

'brinjal'

In [24]:
# Slice out the first three items and the last three items from food_staff_lt list
f_3 = food_stuff_lt[:3]
f_3

['apple', 'mango', 'kiwi']

In [25]:
l_3 = food_stuff_lt[-3:]
l_3

['milk', 'meat', 'eggs']

In [26]:
# Delete the food_staff_tp tuple completely
del food_stuff_tp

In [28]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country

print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

False
True