- List (**ordered, changeable, allow duplicates**)
- tuple (**ordered, unchangeable, allow duplicates**)
- sets (**unordered, unchangeable, doesn't allow duplicates**)
- dict (**unordered, changeable, doesn't allow duplicates**)

### Lists

In [10]:
a_list = [1, 'two', 3.0, '4']
a_list

[1, 'two', 3.0, '4']

In [11]:
# append()
a_list.append([1,2,3])

In [12]:
a_list

[1, 'two', 3.0, '4', [1, 2, 3]]

In [13]:
# extend()
a_list.extend([5,6,7])
a_list

[1, 'two', 3.0, '4', [1, 2, 3], 5, 6, 7]

In [14]:
# pop() used to remove by index
a_list.pop(4)
a_list

[1, 'two', 3.0, '4', 5, 6, 7]

In [15]:
# remove() used to remove by item value
a_list.remove(5)
a_list

[1, 'two', 3.0, '4', 6, 7]

In [16]:
# reverse()
a_list.reverse()
a_list

[7, 6, '4', 3.0, 'two', 1]

In [17]:
# sort() sorting happens within the list with same data types
a = [10,50,20,45,94]
b = ['ab', 'apple','mango']

In [18]:
a.sort()
a

[10, 20, 45, 50, 94]

In [21]:
b.sort(reverse = True)
b

['mango', 'apple', 'ab']

- **List to other data types conversions**

- list to set

In [24]:
a = [10,20,50,45,10,20]
a

[10, 20, 50, 45, 10, 20]

In [27]:
# process 1
set(a)

{10, 20, 45, 50}

In [30]:
# process 2
def get_myset(my_list):
    my_set = set()
    [my_set.add(i)  for i in my_list]
    return my_set

In [31]:
get_myset([10,10,20,20,50,45,50])

{10, 20, 45, 50}

- list to dic

In [34]:
def get_mydict(my_keys, my_values):
    my_dict = {}
    for i in range(len(my_keys)):
        my_dict[my_keys[i]] = my_values[i]
    return my_dict

In [35]:
get_mydict(['a', 'b','c'], [10,20,[30,40]])

{'a': 10, 'b': 20, 'c': [30, 40]}

- set to list
- **A set is a collection which is both unordered and unindexed.**
- **Sets are unchangeable, meaning that we cannot change the items after the set has been created.**
- When you create a set from a list, Python has the liberty to change the order of the elements for the needs of the internal implementation it uses for a set, which is able to perform set operations efficiently. In mathematics, there are sets and ordered sets (osets). In Python, only sets are directly implemented.

In [55]:
d = {10,20,50,40}
d

{10, 20, 40, 50}

In [56]:
list(d)

[40, 10, 20, 50]

In [57]:
# process 2
def get_mylist(my_set):
    my_list = []
    [my_list.append(i)  for i in my_set]
    return my_list

In [58]:
get_mylist({10,20,45,65,82})

[65, 10, 45, 82, 20]

- set to dict
- here set means set of tuples

In [59]:
setuple = {('a', 1), ('b', 2), ('c', 5)}
setuple

{('a', 1), ('b', 2), ('c', 5)}

In [68]:
def get_mydict1(set1):
    dic = {}
    for i in set1:
        dic[i[0]] = i[1]
    return dic

In [69]:
get_mydict1({('a',100),('b',105),('c',156)})

{'b': 105, 'c': 156, 'a': 100}

- set methods

In [74]:
# add() for element wise
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

In [75]:
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [83]:
# update() set wise
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)

In [84]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [85]:
# remove
thisset.remove("banana")
thisset

{'apple', 'cherry', 'mango', 'papaya', 'pineapple'}

In [86]:
# join sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'b', 'a', 1, 2, 3, 'c'}

- dictionary
- doesn't allow duplicates

In [88]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [89]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [90]:
thisdict.values()

dict_values(['Ford', 'Mustang', 2020])

In [91]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [92]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [93]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [94]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

- joining 2 data types

- joining lists

In [96]:
# process 1
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [97]:
# process 2
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [99]:
# process 3
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

- joining tuples

In [128]:
# method 1
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

- joining sets

In [131]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 'a', 1, 2, 3, 'c'}

- constrctures

In [135]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [137]:
thislist = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

{'cherry', 'apple', 'banana'}

In [139]:
thislist = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

('apple', 'banana', 'cherry')